.eon-home {
    position: relative;
    display: block;
}

.eonhomeimg {
    position: relative;
    width: 100%;
    height: auto;
}

.eonhometransimg {
    position: absolute;
    top: 13%;
    left: 0;
    width: 65%;
    height: auto;
    z-index: 0;
}

.eonhomelink {
    position: absolute;
    padding-bottom: 5%;
    left: 0;
    transform: translateY(-50%);
}

.button-container {
    margin: 10px 0;
}

.eonhomelink > div > p > a {
    padding: 0; /* Remove padding */
    background-color: transparent; /* Remove background */
    color: #007bff; /* Make text color like a typical link */
    text-decoration: underline; /* Add underline for link style */
    border: none; /* Remove border */
    font-size: 16px; /* Make text size consistent with links */
}

.button:hover {
    color: #0056b3; /* Darken the link color on hover */
    text-decoration: underline; /* Keep underline on hover */
}
