.eon-video > div {
  display: flex;
}

.lefttext {
  width: 40%;
  box-sizing: border-box;
}

.rightvideo {
  width: 60%;
  box-sizing: border-box;
}

.rightvideo iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
}
